#
# Copyright 2021-2023 Tenebris Technologies Inc.
#
[Unit]
Description=log2sqs
After=network.target
StartLimitIntervalSec=0

[Service]
WorkingDirectory=/opt/log2sqs
User=root
Group=root
Restart=always
RestartSec=1
ExecStart=/opt/log2sqs/log2sqs -config /opt/log2sqs/log2sqs.conf

[Install]
WantedBy=multi-user.target